body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f9f9f7;
    font-weight: 300;
    font-style: normal;
  }
  a{ 
      color: #DB6868;
      text-decoration: none;
      font-weight: 300;
  }
  a:hover{
      color: #AA4E4E;
  }
  h1, h2, h3, h4, h5{
       margin-bottom: 0px;
  }
  h1, h2{
      letter-spacing: 1px;
      font-weight: 200;
  }
  h1{
      font-family: 'Montserrat';
      font-size: 65px;
      color: #FF7979;
  }
  h2{
      font-size: 40px;
       line-height: .85;
       color: #DB6868;
       opacity: .9;
       font-weight: 300;
  }
  h3{
      opacity: .80;
      font-size: 30px;
      margin-top: 0px;
      font-weight: 300;
  }
  h4{
      margin-top:2px;
      opacity: .6;
      font-size: 20px;
      font-weight: 300;
  }
  p{
       line-height: 1.6;
       opacity: .85;
       font-size: 18px;
       font-weight: 300;
  }
  li{
      line-height: 1.6;
      opacity: .85;
      font-size: 18px;
  }
  .body-wrapper{
      width: 80%;
      margin-left: auto;
      margin-right:auto;
  }
  .section{
      min-height: 400px;
      width:100%;
      max-height: 4500px;
      padding-bottom: 0px;
      overflow: hidden;
      margin-left: auto;
  }
  .section-image{
      height: 80%;
      max-height: 700px;
      background-size: contain ;
      background-repeat: no-repeat;
      margin-right: auto;
      margin-left: auto;
      align-items: center;
  }
  
  .navbar{
      margin-left: 20px;
      font-size: 18px;
      padding-top: 10px;
  }
  .navbar a:hover{
      text-decoration: underline;
  }
  
  #home{
      height: 850px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .header-img{
      height: 80%;
      background-image: url('header.png');
      flex: 0 1 30%;
      background-size: contain;
      background-repeat: no-repeat;
      max-height: 800px;
      background-position: center;
  }
  
  #name{
      flex: right;
      height: auto;
      margin-right: 100px;
  }
  
  #about{
      display: flex;
      height: auto;
      flex-wrap: wrap-reverse;
  }
  .about-item{
      flex: 0 1 50%;
  }
  
  .about-item.section-image{
      height: 100vh;
      background-image: url('walk.png');
      min-width: 400px;
      margin-right: auto;
      margin-left: auto;
      background-position: center;
      margin-top: 0;
  }
  
  #experience{
      display: flex;
      height: auto;
  }

  .experience-item.section-info{
      flex: 0 1 60%;
  }
  .experience-item.section-image{
      background-image: url('work.png');
      flex: 0 1 40%;
      height: 100vh;
      align-self: center;
      background-position: center;
      margin-top: 0;
  }
  #education{
      display: flex;
      height: auto;
      flex-wrap: wrap-reverse;
      align-items: center;
  }
  .education-item.section-info{
      flex: 0 1 60%;
  }
  .education-item.section-image{
      background-image: url('school.png');
      flex: 0 1 40%;
      height: 100vh;
      margin-top: 0;
      align-self: center;
      background-position: center;
  }

.content-2 {
    display:none;
    margin-top: 0;
    height: min-content;
}

ul{
    margin-top: auto;
}

.content-1 {
    display:none;
}

  #orgs{
      display: flex;
      height: auto;
      padding-bottom: 20px;
  }
  .orgs-item.section-info{
      flex: 0 1 60%;
  }

  #orgs p{
    margin-top: auto;
  }

  .orgs-item.section-image{
      background-image: url('orgs.png');
      flex: 0 1 40%;
      height: 100vh;
      background-position: center;
      margin-top: 0;
      align-self: center;
  }
  .work-div{
      border-left: 1px #f5b6da solid;
      padding-left: 10px;
      margin-top: 15px;
      margin-bottom: 5px;
      transition: 0.3s;
  }

  .work-div p{
    margin-top: auto;
}



  .work-div:hover{
      border-left: 10px #DB6868 solid;
  }
  .work-div:hover h4{
      opacity: .8;
      font-weight: 400;
      color: #DB6868;
  }

 button-2.more2{
    all: unset;
    display: block;
    width: 100%;
    opacity: .80;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 0px;
    font-weight: 300;
    color: #DB6868;
 }

 button-2.more2:hover{
    font-weight: 500;
 }

 button-1.more1{
    display: block;
    width: 100%;
    opacity: .80;
    font-size: 20px;
    margin-top: auto;
    font-weight: 300;
    color: #DB6868;
    margin-bottom: 20px;
 }

 .orgs-div button-1{
    width: 100%;
 }

 button-1.more1:hover{
    font-weight: 500;
 }

 button-1.more1.open-1:hover{
    font-weight: 500;
 }

  .edu-div{
      border-left: 1px #f5b6da solid;
      padding-left: 10px;
      margin-top: 15px;
      margin-bottom: 5px;
      transition: 0.3s;
  }
  .edu-div:hover{
      border-left: 10px #DB6868 solid;
  }
  .edu-div:hover h4{
      opacity: .8;
      font-weight: 400;
      color: #DB6868;
  }
  .orgs-div{
      border-left: 1px #f5b6da solid;
      padding-left: 10px;
      margin-top: 15px;
      margin-bottom: 5px;
      transition: 0.3s;
  }
  .orgs-div:hover{
      border-left: 10px #DB6868 solid;
  }
  .orgs-div:hover h4{
      opacity: .8;
      font-weight: 400;
      color: #DB6868;
  }
  #skills{
      background-color: #C46E6E;
      color: #f9f9f7;
    -webkit-box-shadow: inset 0px 0px 11px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 11px -3px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 11px -3px rgba(0,0,0,0.75);
    padding-bottom: 30px;
  }

  .section-skills h2{
    margin-left: auto;
    margin-right: auto;
    color: #f9f9f7;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    line-height: 1.2;
  }

  .skills{
      display: flex;
      height: auto;
      justify-content: center;
  }
  
  .skill-item{
      flex: 0 1 30%;
      margin-top: 20px;
      padding: 15px;
      transition: .3s;
  }
  
  .skill-item h3{
      border-bottom: 1px #f5b6da solid;
      padding-bottom: 4px;
  }
  .skill-item h4{
      padding-top: 10px;
  }
  .skill-item p{
      margin-top: 5px;
      margin-bottom: 5px;
  }
  .skill-item:hover .highlighted{
      transition: .3s;
  }
  .skill-item:hover .highlighted{
      color:  #FFEF00;
      font-size: 20px;
  }
  
  
  #projects{
      display: flex;
      height: auto;
      justify-content: center;
      align-items: center;
      overflow-x: hidden;
      margin-bottom: 20px;
  }
  .projects-item.section-info{
      flex: 0 1 60%;
      position: relative;
  }
  .projects-item.section-image{
      background-image: url('point.png');
      flex: 0 1 40%;
      height: 100vh;
      margin-top: auto;
      background-position: center;
  }
  
  .projects-div{
      margin-top: 15px;
      width: 100%;
      transition: 0.3s;
      padding-right: 20px;
      display: flex;
  }
  
  .projects-front{
      flex: 0 1 60%;
      transition: 0.3s;
      border-right: 1px #DB6868 solid;
      padding-right: 20px;
  }
  .projects-back{
      flex: 0 1 40%;
      transition: 0.3s;
  }
  .link-box{
      height: 100%;
      background-color: #DB6868;
      width: 2px;
      transition: 0.3s;
      overflow: hidden;
      color: white;
      text-align: right;
      position: relative;
  }
  .projects-div:hover .link-box{
      width: 150px;
  }
  .link-box li{
      font-size: 18px;
      text-decoration: none;
      margin-right: 10px;
      list-style-type:none;
      margin-bottom: 10px;
      opacity: .7;
  }
  
  .link-box li:hover{
      opacity: 1;
  }
  .link-box ul{
      position: absolute; bottom: 0;
      right: 0;
      margin-top: auto;
  }
  .links{
      color: white !important;
  }
  .material-icons{
      font-size: 18px !important;
  }
  #contact{
      height: 500px;
      background-color: #C46E6E;
      color: white;
      -webkit-box-shadow: inset 0px 0px 11px -3px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 0px 11px -3px rgba(0,0,0,0.75);
      box-shadow: inset 0px 0px 11px -3px rgba(0,0,0,0.75);
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 0px;
  }
  
  .contact{
      margin-top: 10px;
      display: flex;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
  }
  
  .contact .sect{
      flex: 0 1 50%;
  }
  
  .formhead{
      opacity: 1;
      margin-bottom: 5px;
      text-align: left;
  }

  .form{
    margin-top: 10px;
    width: fit-content;
  }


  #contact h2{
    margin-left: 10%;
    text-align: left;
    color: white;
  }
  
  input, textarea{
      border: 1px solid #262626;
      border-radius: 10px;
      width: 250px;
      padding: 10px;
      font-size: 15px;
  }
  textarea{
      height: 150px;
      background-color: #f9f9f7;
      font-family: 'Helvetica Neue', 'Open Sans Light';
  }
  
  .send{
      display: flex;
      /*margin-left: 90px;*/
      margin-top: 10px;
      border: none;
      color: #E6E6E6;
      background-color: #262626;
      font-size: 18px;
      border-radius: 20px;
      padding-left: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 20px;
      font-weight: 300;
      transition: .3s;
      width: 20px;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
  }
  
  .send:hover{
      background-color: #f9f9f7;
      color: #C46E6E;
  }

  
  .icon-box{
      margin-top: 15px;
      opacity: .85;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
  }
  .icon-box img{
      height: 50px;
  }

  footer{
    width:100%;
    margin: 0 auto;
    height:auto;
    text-align: center;
    color: #E6E6E6;
    background-color: #1f1f1f;
    line-height: 1.6;
    font-size: 18px;
  }

  .footer p{
    margin-top: auto;
    margin-bottom: auto;
    color: #fff0f0;
    line-height: 2;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
  }


  
  @media screen and (max-width: 540px) {
      .body-wrapper{
          width: 90%;
      }
      .section{
          padding-bottom: 0px;
      }
  
      #home{
          overflow: hidden;
      }
      #about{
          height: auto;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          overflow-x: hidden;
          overflow: hidden;
      }
      #experience{
          height: auto;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          overflow-x: hidden;
          overflow: scroll;
      }
      .education{
          height: auto;
          display: flex;
          flex-direction: column;
          overflow-x: hidden;
          overflow: scroll;
      }
      .orgs{
          width: 100%;
          display: flex;
          flex-direction: column;
          overflow-x: hidden;
          overflow: scroll;
      }
      .link-box {
          height: 100%;
          background-color: #DB6868;
          width: 10px;
          transition: 0.3s;
          overflow: hidden;
          color: white;
          text-align: right;
          position: relative;
      }
  }



  @media (max-width: 1200px){
          .section-image{
            display: none;
          }
          #name{
              margin-right: 0px;
          }
   }
  @media (min-width: 1200px){
      .section-image {
              display: flex;
              height: 100vh;
              margin-top: auto;
          }
      .projects-item.section-image {
          background-size: contain;
          display: flex;
          height: 500px;
          justify-content: center;
          margin: auto;
      }
   }
  @media only screen and (max-width: 1200px) {
      #skills{
          height: auto;
      }
  }
  
  @media only screen and (max-width: 1200px) {
      .body-wrapper{
          width: 90%;
      }
  
      #home{
          width: 100%;
          padding-left: 0px;
          flex-wrap: wrap-reverse;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          height: 600px;
          overflow: scroll;
      }
  
      .header-img{
          flex: 0 1 100%;
          width: 400px;
          height: 400px;
          background-position:center center;
      }
  
  
      #name{
          flex: 0 1 100%;
          height: auto;
          margin-bottom: 20px;
      }
      h1{
          margin-top: 0px;
      }
  
      #about{
          height: auto;
      }
      .about-item{
          flex: 0 1 100%;
      }
      .section-image{
          background-position: center center;
          max-height: 500px;
      }
  
      #experience{
          height: auto;
          flex-wrap: wrap;
      }
      .experience-item.section-info{
          flex: 0 1 100%;
      }
      .experience-item.section-image{
          background-image: url('work.png');
          flex: 0 1 100%;
      }
  
      #education{
          height: auto;
          flex-wrap: wrap;
      }
      .education-item.section-info{
          flex: 0 1 100%;
      }
      .education-item.section-image{
          background-image: url('work.png');
          flex: 0 1 100%;
          align-self: center;
      }
      
  
      #orgs{
          height: auto;
          flex-wrap: wrap;
      }
      .orgs-item.section-info{
          flex: 0 1 100%;
      }
      .orgs-item.section-image{
          background-image: url('header.png');
          flex: 0 1 100%;
      }
  
      #skills{
          height: auto;
          margin-top: 15px;
          margin-bottom: 15px;
      }
      .skills{
          flex-wrap: wrap;
      }
  
      .skill-item{
          flex: 0 1 100%;
      }
  
      #projects{
          height: auto;
          flex-wrap: wrap-reverse;
          overflow-x: hidden;
      }
      .projects-item.section-info{
          flex: 0 1 100%;
      }
      .projects-item.section-image{
          flex: 0 1 100%;
      }
      .link-box{
          text-align: center;
      }
      .projects-div:hover .link-box{
          width: 135px;
      }
      #contact{
          height: auto;
          margin-top: 20px;
      }
      .contact{
          flex-wrap: wrap;
      }
      .contact .sect{
          flex: 0 1 100%;
          text-align: center;
      }

      #contact h2{
        margin: 0 auto;
        text-align: center;
        color: white;
      }

      .form{
        margin-top: 10px;
        width: min-content;
        margin-left: auto;
        margin-right: auto;
      }

      .send{
      margin-left: auto;
      margin-right: auto;
      }
      .social{
              margin-top: 50px;
      }
  }

  * {-webkit-font-smoothing: antialiased;}

